.homeBody{
    background-image: url("images/pexels-fabian-wiktor-994605.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Kaushan Script', cursive;
}

.homeTitle{
    font-size: 60px;
}

.ghost{
    width: 100%;
    height: 100px;
}

.links{
    color: lightcoral;
    text-decoration: none;
    font-size: 50px;
    transition: 1s;
    border-bottom: lightcoral 4px solid;
}

.links:hover{
    color: lightseagreen;
    border-bottom: lightseagreen 4px solid;
}

.formBody{
    background-color: aliceblue;
}

.hidden{
    display: none;
}

.registerBody{
    background-image: url("images/pexels-visually-us-1494067.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Bad Script', cursive;
}

.formTitle{
    text-shadow: 0 0 3px black;
    font-family: 'Kaushan Script', cursive;
}

.formBtn{
    background-color: lightcoral;
    color: white;
    border-radius: 5px;
}

.loginBody{
    background-image: url("images/pexels-milada-vigerova-5984678.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Bad Script', cursive;
    height: 100vh;
}

.profileBody{
    background-image: url("images/pexels-pixabay-268134.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.mainnav{
   background-color: aliceblue;
}