<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head('Register Now')"></head>
<body class="registerBody">
<nav th:replace="partials/partials.html :: nav"></nav>
<main>
    <div class="mt-5">
        <h1 class="formTitle text-center text-light">Register Here</h1>
    </div>
    <div class="container formBody w-50 border border-dark">
        <h5 class="pt-2 text-center">Please complete all fields</h5>
        <form class="container p-2" th:action="@{/user/create}" th:method="post" th:object="${user}">
            <label class="form-label pt-1" for="firstName">First Name</label>
            <input class="form-control" type="text" id="firstName" name="firstName" th:field="*{first_name}">
            <label class="form-label pt-1" for="lastName">Last Name</label>
            <input class="form-control" type="text" id="lastName" name="lastName" th:field="*{last_name}">
            <label class="form-label pt-1" for="username">Username</label>
            <input class="form-control" type="text" id="username" name="username" th:field="*{username}">
            <label class="form-label pt-1" for="email">Email</label>
            <input class="form-control" type="text" id="email" name="email" th:field="*{email}">
            <label class="form-label pt-1" for="password">Enter Password</label>
            <div class="input-group">
                <input class="form-control" type="password" id="password" name="password" th:field="*{password}">
                <button type="button" class="togglePassword btn btn-outline-secondary"><i class="fa-regular fa-eye" id="toggleIcon"></i></button>
            </div>
            <div class="container requirements mt-1 hidden border border-secondary rounded text-secondary">
                <p class="my-2"><strong class="mt-1 text-decoration-underline">Password Requirements:</strong></p>
                <ul>
                    <li class="lengthCheck">Must be 8 characters in length</li>
                    <li class="numberCheck">Must contain a minimum of one number</li>
                    <li class="capsCheck">Must contain one capital letter.</li>
                    <li class="charCheck">Must contain a minimum of one special character</li>
                </ul>
            </div>
            <label class="form-label pt-1" for="confirmPassword">Confirm Password</label>
            <input class="form-control" type="password" id="confirmPassword" name="confirmPassword">
            <div class="container isConfirmed mt-1 hidden border border-secondary rounded text-secondary pt-1">
                <p class="my-2">This does not match your password please try again</p>
            </div>
            <div class="pt-2 d-grid my-1">
                <button type="submit" class="formBtn hidden border border-light">Register Now</button>
            </div>
        </form>
    </div>
</main>
<block th:replace="partials/partials.html :: scripts"></block>
<script>

    <!--    displays password requirements when clicked-->
    $("#password").click(function () {
        $(".requirements").removeClass("hidden")
    })

    //code to check that password meets all requirements

    const regexNums = /\d/g;
    const regexIT = /[`!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;
    const regexCaps = /[A-Z]/;

    $("#password").keyup(function () {
        let newPassword = $("#password").val()
        if (newPassword.length >= 8) {
            $(".lengthCheck").css("color", "green")
        } else {
            $(".lengthCheck").css("color", "red")
        }
        if (regexNums.test(newPassword)) {
            $(".numberCheck").css("color", "green")
        } else {
            $(".numberCheck").css("color", "red")
        }
        if (regexIT.test(newPassword)) {
            $(".charCheck").css("color", "green")
        } else {
            $(".charCheck").css("color", "red")
        }
        if (regexCaps.test(newPassword)) {
            $(".capsCheck").css("color", "green")
        } else {
            $(".capsCheck").css("color", "red")
        }
        if (newPassword.length >= 8 && regexNums.test(newPassword) && regexIT.test(newPassword) && regexCaps.test(newPassword)) {
            $(".requirements").addClass("hidden")
        } else {
            $(".requirements").removeClass("hidden")
        }
    })

    //displays message until the password is a confirmed match
    $("#confirmPassword").keyup(function () {
        let password = $("#password").val();
        let confirm = $("#confirmPassword").val();
        if (password !== confirm) {
            $(".isConfirmed").removeClass("hidden")
        } else {
            $(".formBtn").removeClass("hidden")
            $(".isConfirmed").addClass("hidden")
        }
    })

    //hide or reveal password text
    $(".togglePassword").click(function(){
        let passwordType = $("#password").attr("type")
        if(passwordType === "password"){
            $("#password").attr("type", "text")
            $("#toggleIcon").attr("class", "fa-regular fa-eye-slash")
        }else{
            $("#password").attr("type", "password")
            $("#toggleIcon").attr("class", "fa-regular fa-eye")
        }
    })

</script>
</body>
</html>